<div class='info'>
  <h6>{{ "Concept" | t}}</h6>
  {{ concept }}

  <h6>{{ "Use cases" | t}}</h6>
  {{ usecases }}

  <h6>{{ "How to" | t}}</h6>
  {{ howto }}
  <h6>{{ "Example" | t}}</h6>
  {{ examples }}
  <h6>{{ "Tips" | t}}</h6>
  {{ tips }}
</div>

<br/>
Not sure what to do? Ask the coder for  <a href='https://www.drupal.org/user/50680' target='_blank'>professional support</a>
