{# bee-hotel s provides a list of available units  #}
{# this is the unit html  #}
<div class='unit'>
  <h3 class='title'>{{ title }} <span class='store'><span class='at'>@</span>{{ store }}</span></h3>
  <div class='main-image'>{{ img }}</div>
  <div class='nights'>{{ nights }}</div>
  <div class='type'>{{ type }}</div>
  <div class='container'>
    <div class='description'><span class='title insidedescription'>{{ title }}</span> {{ description }}</div>
    <div class='price'>{{ price }}<span class='currency smaller'>{{ currency }}</span></div>
    <div class='add'>{{ destination }}</div>
  </div>
</div>
