<div class="state-box {{  blocking }}" >
  <span class='{{blocking}}' style='color:{{ color }}'>{{ label }}</span>
  <span>{{ extra }}</span>
</div>


{# da https://codepen.io/desandro/pen/LmWoWe #}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front">AV</div>
    <div class="card__face card__face--back">NO</div>
  </div>
</div>
