<div class='col1 {{ season_class }}'>
  <div class='season {{ season_class }}'>
    {{ season }}
    <div class='detailed'>
     This day will be offered online at the season base price * {{ season }} *
    </div>
  </div>
  <div class='col'>
    {{ day }}
    {{ elab_day }}
  </div>
</div>

